{% extends 'base.html.twig' %}

{% block title %}Hello AboutUsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <h3 class="mt-5 text-center">About Us</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-6 p-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque cupiditate laboriosam perspiciatis tempora. Ad adipisci, autem cupiditate expedita, facere fugit maiores necessitatibus nostrum officia optio, quasi repellendus veritatis voluptates?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium beatae consequatur, corporis doloribus ea hic magnam magni nihil nisi numquam quas quasi quibusdam reiciendis repellat, similique tenetur ullam, vel vitae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque beatae blanditiis, cumque delectus eveniet, exercitationem id illo itaque necessitatibus nobis obcaecati porro possimus, praesentium provident quod rem repudiandae tempore!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae deserunt incidunt minima praesentium! Aperiam dicta fugit hic iusto, magnam nihil non pariatur quisquam quod quos ratione repellendus tempore voluptatum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam architecto asperiores assumenda beatae distinctio earum esse expedita iure mollitia nobis odit perferendis qui quo sequi ut vel voluptas, voluptatem!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aut delectus eligendi, explicabo fugiat ipsam maxime nostrum provident quae quam quas quis ratione rem soluta voluptatem voluptates? Repudiandae, tempora.
            </div>

            <div class="col-6 p-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nihil optio repudiandae, saepe voluptate voluptatibus. Dolor, nihil, pariatur? Amet aut commodi cum hic, molestiae qui saepe ut. Ipsum, repellendus, sed!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio nam nisi omnis quasi quia recusandae, sit voluptate? Ab aut delectus enim ipsum nam, odit quisquam reprehenderit, tempora tempore totam, voluptates!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolore laudantium perferendis reprehenderit ut. Animi asperiores aspernatur consequuntur cum debitis earum in iste natus nemo, qui sint vel. Aperiam, voluptatem.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ipsa labore magni necessitatibus nobis placeat porro provident, sed, sequi temporibus, voluptas voluptatibus. Ab inventore magnam nobis, quasi quidem tempore voluptatum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem dignissimos dolore dolorum, ea earum excepturi fuga harum, inventore nisi nobis nulla odit pariatur provident quos ratione reiciendis ut veritatis.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur eaque in ipsa nisi perferendis quos, ut! Aliquid fuga, impedit necessitatibus nemo omnis quaerat quia quod reiciendis saepe, sit tenetur veniam.
            </div>
        </div>
    </div>

{% endblock %}
